body {
  margin  : 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing   : antialiased;
  -moz-osx-font-smoothing  : grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {

  //logo
  .logo {
    color         : #e93a3a;
    margin-right  : 5px;
    font-size     : 32px;
  }

  .btn-add-import {
    float       : right;
    display     : flex;
    font-size   : 14px;
    margin-top  : -58px;


    .btn-import {
      border            : none;
      border-radius     : 5px;
      color             : #ffffff;
      margin-top        : 7px;
      background-color  : rgb(108, 121, 113);
      margin-right      : 10px;
      padding           : 7px 10px;

      &:hover {
        opacity  : 0.8;
      }
    }

    .csvLink {
      border            : none;
      border-radius     : 5px;
      color             : #ffffff;
      margin-top        : 7px;
      background-color  : rgb(50, 166, 205);
      text-decoration   : none;
      margin-right      : 10px;
      padding           : 7px 12px;

      &:hover {
        opacity  : 0.8;
      }

      span {
        font-weight  : 600;
        color        : white;
        display      : flex;
        padding      : 7px 13px;
      }
    }

    .btn-add {
      border         : none;
      border-radius  : 5px;
      color          : #ffffff;
      font-size      : 15px;
      margin-top     : 7px;

      &:hover {
        opacity  : 0.8;
      }
    }
  }

  .goToLogin {
    cursor  : pointer;

    &:hover {
      color  : rgb(235, 198, 33);
    }
  }
}